<form>
  <div class="form-group">
    <label for="firstName">firstName</label>
    <input required   ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id ="firstName" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="firstName.touched &&   !firstName.valid">First Name is required</div>
    
  </div>
  <div class="form-group">
    <label for="comment"Com>Comment</label>
    <textarea  ngModel name="comment" #comment="ngModel" cols="30" rows="10" class="form-control"  (change)="log(comment.value)"></textarea>
  </div>
  <div class="checkbox">
     <label><input type="checkbox"> Remember me </label>
  </div>
 <button class="btn btn-primary">Submit</button>
</form>