<!-- <h1 class = "css" >
     Angular 
    </h1>
<app-authors></app-authors> -->
<!-- <app-favorite [parentMessage]="message"></app-favorite> -->


<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses" ></div>  --> 
<!-- <div [hidden] = "courses.length == 0">
    List of courses
</div>

<div [hidden] = "courses.length > 0">
    No courses yet
</div> -->


<!-- <ng-template #coursesList>
    List of courses
</ng-template>

<ng-template #noCourses>
    No Courses yet
</ng-template> -->

<app-ng-switch-case></app-ng-switch-case>
<app-course-list></app-course-list>
<app-contact-form></app-contact-form>

<button (click)="loadCourses()">Load Courses</button>



 

